@import './../../../app.component.scss';

.login-container {
  font-family: 'Inter', sans-serif;
  background: $background-color;

  .login-box {
    max-width: 400px;
    padding: 28px;
  }

  .btn-primary {
    background-color: $primary-color;
    border-color: $primary-color;
    border-radius: 8px;
    font-weight: 600;
    height: 45px;
  }

  .form-control {
    border-radius: 6px;
    height: 45px;
    font-size: 14px;
  }

  .return-login {
    width: 100%;
    text-align: right;
  }

  label {
    font-weight: 600;
    font-size: 14px;
  }

  .custom-control-label {
    font-size: 13px;
  }

  .remember-control {
    margin: 14px 0px;
  }

  .remember-control-label {
    margin-left: 7px;
  }

  .alert {
    padding-top: 9px;
    padding-bottom: 9px;

    strong {  
      font-weight: 500;
      font-size: 13px;
      letter-spacing: 0px;
    }
  }

  .alert-dismissible .btn-close {
    top: -7px;
  }

  .reset-password-error  {
    margin-top:11px;
  }
}