<header class="d-flex justify-content-between align-items-center px-4 py-2 header-bg text-white shadow-sm">
    
    <div class="d-flex align-items-center gap-4">
        <div class="header-container">
            <img src="./../../../../assets/images/logo.png" alt="Logo" class="header-logo" />
        </div>
        <nav class="d-flex gap-3">
            <div class="nav-item-wrapper" tabindex="0" (mouseenter)="setHover('home')" (mouseleave)="setHover(null)">
                <a routerLink="/home">
                    <span class="nav-item" [class.active]="isActive('home')" (click)="setActive('home')">
                        <i class="bi bi-house-door-fill"></i>
                        Home
                    </span>
                </a>
            </div>
            <div class="nav-item-wrapper" tabindex="1" (mouseenter)="setHover('configuration')" (mouseleave)="setHover(null)">
                <a routerLink="/categories" (click)="setActive('configuration')">
                    <span class="nav-item" [class.active]="isActive('configuration')" (click)="setActive('configuration')">
                        <i class="bi bi-gear"></i>
                        Configuration
                    </span>
                </a>
            </div>
            <div class="nav-item-wrapper" tabindex="2" (mouseenter)="setHover('bookings')" (mouseleave)="setHover(null)">
                <a routerLink="/bookings" (click)="setActive('bookings')">
                    <span class="nav-item" [class.active]="isActive('bookings')" (click)="setActive('bookings')">
                        Bookings
                    </span>
                </a>
            </div>
            <div class="nav-item-wrapper" tabindex="3" (mouseenter)="setHover('billing')" (mouseleave)="setHover(null)">
                <a routerLink="/billing" (click)="setActive('billing')">
                    <span class="nav-item" [class.active]="isActive('billing')" (click)="setActive('billing')">
                        <i class="bi bi-receipt"></i>
                        Billing
                    </span>
                </a>
            </div>
        </nav>
    </div>
    <!-- <div class="submenu" [class.visible]="isHovered('categories')">
        <a class="submenu-item" routerLink="/list-category" (click)="setActive('categories')">List Categories</a>
        <a class="submenu-item" (click)="setActive('categories')">Add Category</a>
        <a class="submenu-item" (click)="setActive('categories')">Delete Category</a>
    </div> -->
    <div class="nav-item-main">
        <div class="d-flex align-items-center position-relative nav-item-wrapper nav-item-wrapper"  (mouseenter)="setHover('profile')" (mouseleave)="setHover(null)">
            <div class="profile-icon-wrapper d-flex align-items-center justify-content-center nav-item">
                <i class="bi bi-person-fill profile-icon"></i>
                <div class="profile-submenu" [class.visible]="isHovered('profile')">
                    <a class="submenu-item">Settings</a>
                    <a class="submenu-item">Logout</a>
                </div>
            </div>
        </div>
    </div>
</header>
