<header class="d-flex justify-content-between align-items-center px-4 py-2 header-bg text-white shadow-sm">
    <!-- Left Section -->
    <div class="d-flex align-items-center gap-4">
        <div class="header-container">
            <img src="./../../../../assets/images/logo.png" alt="Logo" class="header-logo" />
        </div>
        <nav class="d-flex gap-3">
            <div class="nav-item-wrapper" tabindex="0" (mouseenter)="setHover('home')" (mouseleave)="setHover(null)">
                <a routerLink="/home">
                    <span class="nav-item" [class.active]="isActive('home')" (click)="setActive('home')">
                        <i class="bi bi-house-door-fill"></i>
                        Home
                    </span>
                </a>
            </div>
            <div class="nav-item-wrapper" tabindex="0" (mouseenter)="setHover('categories')" (mouseleave)="setHover(null)">
                <a routerLink="/categories" (click)="setActive('categories')">
                    <span class="nav-item" [class.active]="isActive('categories')" (click)="setActive('categories')">
                        Categories
                    </span>
                </a>
            </div>
        </nav>
    </div>

    <!-- Profile Section -->
    <div>
        <div class="d-flex align-items-center position-relative nav-item-wrapper">
            <div class="profile-icon-wrapper d-flex align-items-center justify-content-center" tabindex="0"
                role="button" id="profilePopover" data-bs-toggle="popover" data-bs-placement="bottom"
                data-bs-html="true" data-bs-trigger="focus" data-bs-content="">
                <i class="bi bi-person-fill profile-icon"></i>
            </div>
        </div>
    </div>
</header>