<div class="container status-spinner" *ngIf="apiLoading">
  <div class="spinner-border text-primary" role="status">
  </div>
  <span class="loading-label">Loading Categories...</span>
</div>
<div class="container mt-4" *ngIf="!apiLoading">
  <app-breadcrumb [crumbItems]="crumbItems"></app-breadcrumb>
  <div class="d-flex justify-content-between align-items-center mb-3">
    <h4>Categories Management</h4>
    <button class="btn btn-primary" (click)="addNewCategory()">Add New Category</button>
  </div>
  <app-confirmation-modal *ngIf="delteItem" 
    [title]="`Are you sure you want to Delete ${delteItem.name} ?`" 
    [message]="'All Associated Locations, Users and Tasks will be removed. Please confirm.'"
    [(showModal)]="showDeleteModal" (confirmAction)="handleConfirmDeleteAction($event)" (cancelAction)="cancelConfirmAction()">
  </app-confirmation-modal>
  <app-data-grid [headers]="headers" [data]="categories" [pageSize]="5" (editRowEvent)="editCategory($event)"
    (deleteRowEvent)="deleteCategory($event)"> </app-data-grid>
</div>