<div class="container status-spinner" *ngIf="isLoading">
  <div class="spinner-border text-primary" role="status">
  </div>
  <span class="loading-label">Loading...</span>
</div>
<div class="proserve-theme" mat-theme  *ngIf="!isLoading">
  <form [formGroup]="categoryForm" class="form-container" (keydown.enter)="$event.preventDefault()">
    <div class="container mt-5 p-4 bg-white shadow-sm rounded">
      <app-breadcrumb *ngIf="state==addState" [crumbItems]="addCrumbItems"></app-breadcrumb>
      <app-breadcrumb *ngIf="state==updateState" [crumbItems]="updateCrumbItems"></app-breadcrumb>
      <div class="d-flex justify-content-between align-items-center mb-3">
        <h5 class="fw-bold mb-4" *ngIf="state==addState">Add New Category</h5>
        <h5 class="fw-bold mb-4" *ngIf="state==updateState">Update Category</h5>
        <button type="button" class="btn btn-primary" *ngIf="state==updateState" (click)="addNewCategory($event);">Add New Category</button>
      </div>
      <div class="row g-3 mb-4">
        <div class="col-md-12">
          <mat-tab-group>
            <mat-tab label="Basic Info">
              <mat-form-field appearance="outline" class="full-width">
                <mat-label>Category Name</mat-label>
                <input #formField matInput formControlName="name" [readonly]="state==updateState ? 'true' : 'false'"/>
                <mat-error *ngIf="categoryForm.get('name')?.touched">
                  <ng-container *ngIf="categoryForm.get('name')?.hasError('required')">
                    Category name is required.
                  </ng-container>
                  <ng-container *ngIf="categoryForm.get('name')?.hasError('invalidCharacters')">
                    {{ categoryForm.get('name')?.getError('invalidCharacters') }}
                  </ng-container>
                  <ng-container *ngIf="categoryForm.get('name')?.hasError('maxlength')">
                    Maximum length of characters 254 exceeded.
                  </ng-container>
                  <ng-container *ngIf="categoryForm.get('name')?.hasError('noAlphabet')">
                    At least one alphabet is required.
                  </ng-container>
                </mat-error>
              </mat-form-field>
              <div class="row g-3 mb-4">
                <div class="col-md-6">
                  <mat-form-field appearance="outline" class="full-width">
                    <mat-label>Display Image URL</mat-label>
                    <input matInput formControlName="displayURL" (blur)="onUrlBlur()"/>
                    <mat-error *ngIf="categoryForm.get('displayURL')?.touched && categoryForm.get('displayURL')?.hasError('required')">
                      Display Image is required.
                    </mat-error>
                  </mat-form-field>
                  <mat-error *ngIf="categoryForm.get('displayURL')?.touched && categoryForm.get('displayURL')?.hasError('displayURL') as err">
                    Maximum length of characters 254 exceeded.
                  </mat-error>
                </div>
                <div class="col-md-1 bg-light rounded">
                  <i class="bi bi-image fs-1 text-muted preview-container" *ngIf="!previewUrl"></i>
                  <div class="preview-container" *ngIf="previewUrl">
                    <img [src]="previewUrl" alt="Preview" />
                  </div>
                </div>
              </div>                
              <mat-form-field appearance="outline" class="full-width" *ngIf="state==updateState" aria-readonly="true">
                <mat-label>Category ID</mat-label>
                <input matInput formControlName="categoryId" readonly />
              </mat-form-field>
              <mat-form-field appearance="outline" class="full-width">
                <mat-label>Category Status</mat-label>
                <mat-select formControlName="enabled">
                  <mat-option value="active">Active</mat-option>
                  <mat-option value="inactive">Inactive</mat-option>
                </mat-select>
              </mat-form-field>
              <mat-form-field appearance="outline" class="half-width" *ngIf="state==updateState" aria-readonly="true">
                <mat-label>Total Service Providers</mat-label>
                <input matInput type="number" formControlName="serviceProviders" readonly/>
              </mat-form-field>
              <mat-form-field appearance="outline" class="half-width" *ngIf="state==updateState" aria-readonly="true">
                <mat-label>Available Locations</mat-label>
                <input matInput type="number" formControlName="availableLocations" readonly/>
              </mat-form-field>
            </mat-tab>
            <mat-tab label="Tasks" *ngIf="state==updateState">
              <div class="mb-3 faq-container">
                <div class="d-flex justify-content-between align-items-center add-task-button">
                  <h6 class="fw-bold" *ngIf="tasks.length>0">Tasks</h6>
                  <h6 class="fw-bold" *ngIf="tasks.length==0">No Tasks Available</h6>
                  <button type="button" class="btn btn-sm btn-outline-primary" (click)="showTaskModal(addState)">
                    <i class="bi bi-plus-circle"></i> Add New Task
                  </button>
                </div>
                <app-data-accordion *ngIf="tasks.length>0" id="taskSection" [title]="'Category Tasks'" [items]="tasks"
                  [titleKey]="'title'" [bodyKey]="'description'" [searchable]="true" [showEdit]="true" [showDelete]="true"
                  (searchChanged)="getTasksFromApi($event)" (editItem)="onEditTask($event)"
                  (deleteItem)="onDeleteTask($event)"></app-data-accordion>
              </div>
            </mat-tab>
          </mat-tab-group>
        </div>
      </div>
      <div class="text-end mt-4">
        <button type="button" class="btn btn-primary btn-outline-primary" (click)="onSubmit()">
          <i class="bi bi-check-circle me-2"></i>Save Category
        </button>
      </div>
    </div>
    <div class="container mt-5 p-4 bg-white shadow-sm rounded" *ngIf="showAddTask">
      <app-add-update-category-task [categoryID]="categoryID" [taskID]="taskID" [state]="taskState" [showModal]="showAddTask" (saveAction)="saveTask($event)"
        (cancelAction)="cancelTask($event)"></app-add-update-category-task>
    </div>
  </form>
  <app-confirmation-modal *ngIf="taskID" 
    [title]="`Are you sure you want to Delete Task ?`" 
    [message]="'All Associated Options will be removed. Please confirm.'"
    [(showModal)]="showDeleteModal" (confirmAction)="handleConfirmDeleteTaskAction($event)" (cancelAction)="cancelConfirmDeleteTaskAction()">
  </app-confirmation-modal>
</div>
