@use '../../../app.component.scss' as *;

.form-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
}

.full-width {
    width: 100%;
}

.half-width {
    width: 48%;
    display: inline-block;
    margin-right: 4%;
}

.icon-section {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.category-icon {
    font-size: 26px;
    color: $primary-color;
}

.faq-container {
    margin-top: 23px;
    margin-bottom: 4%;
}
.add-faq-button {
    margin-bottom: 13px;
}
mat-form-field {
    margin-top:18px !important;
}
.preview-container img {
    max-width: 200px;
    max-height: 200px;
    border: 1px solid #ccc;
    object-fit: contain;
}