$primary-color: #1f5779;
$background-color: #f7f8f7;
body {
    font-family: 'Inter', sans-serif;
    height: auto;
    overflow: scroll;
    background-color: $background-color;
}
.btn-primary{
    background-color: $primary-color;
    border-color: $primary-color;
}
.spinner-border {
    color:$primary-color;
}
.btn-outline-primary {
    background-color: $background-color;
    border-color: $primary-color;
    color:$primary-color;
}
a.text-primary {
    color: $primary-color !important;
}
a {
    cursor: pointer;
}
.row {
    padding:0px !important;
}