<div class="container-fluid" *ngIf="authService.hasAnyRole([roles.ADMIN,roles.AGENT,roles.USER]);else unauhtorized">
  <div class="row">
    <div class="col-md-2">
      <app-sidenav [navItems]="navItems" (componentChangeEvent)="updateComponent($event)"></app-sidenav>
    </div>
    <div class="col-md-10 content-area">
      <app-list-category *ngIf="activeLabel=='list-categories'"></app-list-category>
      <app-add-update-category *ngIf="activeLabel=='add-update-category'"></app-add-update-category>
      <app-delete-category *ngIf="activeLabel=='delete-category'"></app-delete-category>
    </div>
  </div>
</div>
<ng-template #unauhtorized>
  <app-unauthorized [hideHome]=true></app-unauthorized>
</ng-template>