@import './../../../app.component.scss';
.spinner-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: $background-color;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10000;
}
.text-primary {
    color:$primary-color !important;
}
.loading-label {
    margin-left: 8px;
    font-family: sans-serif;
    color:$primary-color;
}